name: Arch & Kernel Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  # 1️⃣ 构建 amd64/arm64 产物
  build:
    name: Build (${{ matrix.arch }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU (only needed for arm64)
        if: matrix.arch == 'arm64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build compile image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.devel
          load: true
          platforms: linux/${{ matrix.arch }}
          tags: huatuo-build:${{ matrix.arch }}

      - name: Compile in container
        run: |
          mkdir -p arch-compiled/${{ matrix.arch }}
          docker run --rm \
            -v "${{ github.workspace }}:/huatuo-src:ro" \
            -v "${{ github.workspace }}/arch-compiled/${{ matrix.arch }}:/compiled" \
            -w /work \
            huatuo-build:${{ matrix.arch }} \
            sh -c "cp -r /huatuo-src/* . \
              && make clean && make --trace \
              && mv _output/* /compiled/"

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: huatuo-compiled-${{ matrix.arch }}
          path: arch-compiled/${{ matrix.arch }}


  # 2️⃣ 测试（arch & kernel）
  test:
    name: Test (arch & kernel)
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64
        kernel: # https://quay.io/repository/lvh-images/kind?tab=tags
          - 4.19-20251222.013332
          - 5.10-20251222.013332
          - 6.6-20251222.013332
        exclude:
          - arch: arm64
            kernel: 6.6-20251222.013332
          - arch: arm64
            kernel: 4.19-20251222.013332

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # 下载 build 阶段的产物
      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: huatuo-compiled-${{ matrix.arch }}
          path: huatuo-compiled-${{ matrix.arch }}
          run: |
            echo "=== Artifacts ==="
            pwd
            ls -lha
            ls -lah huatuo-compiled-${{ matrix.arch }}

      # 启动 LVH VM
      - name: Provision LVH VM
        uses: cilium/little-vm-helper@v0.0.28
        with:
          arch: ${{ matrix.arch }}
          image-version: ${{ matrix.kernel }}
          install-dependencies: true
          host-mount: ./
          mem: 4G
          cpu: 2
          test-name: huatuo-bamai-test
          cmd: |
            set -eux
            
            echo "=== Workspace ==="
            pwd
            ls
            ls -lah /host/*
            ls -lah /host/huatuo-compiled-${{ matrix.arch }}
            
            echo "=== Kernel ==="
            uname -a && uname -m

            echo "=== Test... ==="
            chmod +x /host/huatuo-compiled-${{ matrix.arch }}/bin/huatuo-bamai
            timeout -s SIGKILL 60s /host/huatuo-compiled-${{ matrix.arch }}/bin/huatuo-bamai \
              --region example \
              --config huatuo-bamai.conf