name: Arch & Kernel Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  # 1️⃣ 构建 amd64/arm64 产物
  build:
    name: Arch Build (amd64 arm64)
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      # 启用 QEMU
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      # 启用 Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 构建 amd64/arm64 编译镜像
      - name: Build Docker Image (amd64)
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: false
          load: true
          platforms: linux/amd64
          tags: huatuo-bamai:amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build Docker Image (arm64 via QEMU)
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: false
          load: true
          platforms: linux/arm64
          tags: huatuo-bamai:arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # 在容器里 make
      - name: Build (amd64)
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            huatuo-bamai:amd64 \
            sh -c "make --trace ARCH=amd64"

      - name: Build (arm64 via QEMU)
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            huatuo-bamai:arm64 \
            sh -c "make --trace ARCH=arm64"

      # 保存构建的产物
      - name: Store Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: huatuo-arch-kernel-test-artifacts
          path: _output/


  # 2️⃣ 测试（arch & kernel）
  test:
    name: Test (arch & kernel)
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64
        kernel:
          # renovate: datasource=docker depName=quay.io/lvh-images/kind
          - 4.19          
          # renovate: datasource=docker depName=quay.io/lvh-images/kind
          - 5.10
          # renovate: datasource=docker depName=quay.io/lvh-images/kind
          - 6.1
        exclude:
          - arch: arm64
            kernel: 6.1

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # 下载 build 阶段的产物
      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: huatuo-arch-kernel-test-artifacts

      # 启动 LVH VM
      - name: Provision LVH VM
        uses: cilium/little-vm-helper@v0.0.28
        with:
          arch: ${{ matrix.arch }}
          image-version: ${{ matrix.kernel }}
          install-dependencies: true
          host-mount: ./
          mem: 4G
          cpu: 2
          test-name: huatuo-bamai-test
          cmd: |
            set -eux
            
            echo "=== Workspace ==="
            pwd
            ls
            tree -I vendor
            
            echo "=== Kernel ==="
            uname -a && uname -m

            echo "=== Test... ==="
            chmod +x /host/_output/${{ matrix.arch }}/bin/huatuo-bamai
            timeout -s SIGKILL 60s /host/_output/${{ matrix.arch }}/bin/huatuo-bamai \
              --region example \
              --config /host/huatuo-bamai.conf